---
title: '404 @ NikoTung'
layout: page
---

<script>
var posts =
{
{% for post in site.posts %} {% if post.thread %}
"{{ post.thread }}" : "{{ post.url }}",{% endif %}{% endfor %}
};


	document.write("文章或附件未找到，请转到 <a href='/categories'>分类</a> 或返回 <a href='/'>首页</a>。如有问题请联系 <a href='mailto:{{ site.email }}'>{{ site.email }}</a><iframe scrolling='no' frameborder='0' src='http://yibo.iyiyun.com/js/yibo404/key/7349' width='640' height='462' style='display:block;'></iframe>");
</script>


 <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', {{site.TrackerId}}]);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

</script>