<head>
	<!-- Google Analytics -->
	{% if site.style.google_analytics %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.style.google_analytics }}"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', '{{ site.style.google_analytics }}');
	</script>
	{% endif %}
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} |{% endif %} {{ site.style.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.style.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-Frame-Options" content="sameorigin">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/center.css" | prepend: site.baseurl }}">

	<!-- code highlight -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/tomorrow-night-eighties.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>


	<!--Favicon-->
	<link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">

	<!-- Canonical -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- RSS -->
	<link rel="alternate" type="application/atom+xml" title="{{ site.style.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<!-- Font Awesome -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Google Fonts -->
	{% if site.style.google_fonts %}
	<link href="//fonts.googleapis.com/css?family={{ site.style.google_fonts }}" rel="stylesheet" type="text/css">
	{% endif %}

	<!-- KaTeX -->
	{% if site.style.katex %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
	{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>



	




</head>
