{% if site.style.rss %}
<li>
	<a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.style.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.style.email_address %}
<li>
	<a href="mailto:{{ site.style.email_address }}" title="{{ site.style.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% if site.style.behance %}
<li>
	<a href="https://www.behance.net/{{ site.style.behance }}" title="{{ site.style.str_follow_on }} Behance">
		<i class="fa fa-fw fa-behance"></i>
	</a>
</li>
{% endif %}

{% if site.style.bitbucket %}
<li>
	<a href="https://bitbucket.org/{{ site.style.bitbucket }}" title="{{ site.style.str_follow_on }} Bitbucket">
		<i class="fa fa-fw fa-bitbucket"></i>
	</a>
</li>
{% endif %}

{% if site.style.dribbble %}
<li>
	<a href="https://dribbble.com/{{ site.style.dribbble }}" title="{{ site.style.str_follow_on }} Dribbble">
		<i class="fa fa-fw fa-dribbble"></i>
	</a>
</li>
{% endif %}

{% if site.style.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.style.facebook }}" title="{{ site.style.str_follow_on }} Facebook">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}

{% if site.style.flickr %}
<li>
	<a href="https://www.flickr.com/photos/{{ site.style.flickr }}" title="{{ site.style.str_follow_on }} Flickr">
		<i class="fa fa-fw fa-flickr"></i>
	</a>
</li>
{% endif %}

{% if site.style.github %}
<li>
	<a href="https://github.com/{{ site.style.github }}" title="{{ site.style.str_follow_on }} GitHub">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{% endif %}

{% if site.style.google_plus %}
<li>
	<a href="https://plus.google.com/{{ site.style.google_plus }}" title="{{ site.style.str_follow_on }} Google+">
		<i class="fa fa-fw fa-google-plus"></i>
	</a>
</li>
{% endif %}

{% if site.style.instagram %}
<li>
	<a href="http://instagram.com/{{ site.style.instagram }}" title="{{ site.style.str_follow_on }} Instagram">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.style.linkedin %}
<li>
	<a href="{{ site.style.linkedin }}" title="{{ site.style.str_follow_on }} LinkedIn">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}

{% if site.style.pinterest %}
<li>
	<a href="http://www.pinterest.com/{{ site.style.pinterest }}" title="{{ site.style.str_follow_on }} Pinterest">
		<i class="fa fa-fw fa-pinterest"></i>
	</a>
</li>
{% endif %}

{% if site.style.reddit %}
<li>
	<a href="https://www.reddit.com/user/{{ site.style.reddit }}" title="{{ site.style.str_follow_on }} Reddit">
		<i class="fa fa-fw fa-reddit"></i>
	</a>
</li>
{% endif %}

{% if site.style.soundcloud %}
<li>
	<a href="https://soundcloud.com/{{ site.style.soundcloud }}" title="{{ site.style.str_follow_on }} SoundCloud">
		<i class="fa fa-fw fa-soundcloud"></i>
	</a>
</li>
{% endif %}

{% if site.style.stack_exchange %}
<li>
	<a href="{{ site.style.stack_exchange }}" title="{{ site.style.str_follow_on }} Stack Exchange">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}

{% if site.style.steam %}
<li>
	<a href="http://steamcommunity.com/id/{{ site.style.steam }}" title="{{ site.style.str_follow_on }} Steam">
		<i class="fa fa-fw fa-steam"></i>
	</a>
</li>
{% endif %}

{% if site.style.tumblr %}
<li>
	<a href="http://{{ site.style.tumblr }}.tumblr.com/" title="{{ site.style.str_follow_on }} Tumblr">
		<i class="fa fa-fw fa-tumblr"></i>
	</a>
</li>
{% endif %}

{% if site.style.twitter %}
<li>
	<a href="https://twitter.com/{{ site.style.twitter }}" title="{{ site.style.str_follow_on }} Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.style.wordpress %}
<li>
	<a href="https://{{ site.style.wordpress }}.wordpress.com/" title="{{ site.style.str_follow_on }} WordPress">
		<i class="fa fa-fw fa-wordpress"></i>
	</a>
</li>
{% endif %}

{% if site.style.youtube %}
<li>
	<a href="https://www.youtube.com/user/{{ site.style.youtube }}" title="{{ site.style.str_follow_on }} YouTube">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}
